body {
  margin: 10px;
}

a {
  cursor: pointer
}

nav {
  margin-bottom: 10px;
}

.parentul {
  text-align: center;
}

.parentul > ul {
  display: inline-block;
}
.form-group {
  margin: 10px;
}

.end {
  align-content: right;
}

.col {
  text-align: center;

}

.navbar-brand {
  margin-right: 65px;
}

.nav-item {
  margin-right: 10px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.row {
  margin: 20px;
}

.progress {
  height: 30px;
  padding: 0;
}

.listing_image {
  height: 350px;
  width: 350px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* based on https://stackoverflow.com/questions/39495493/line-under-navbar-when-hovering */
.nav-link {
  color: #d20807;
  float: left;
  position: relative;
  padding: 10px 20px;
  overflow: hidden;
}

.nav-link::after {
  background-color: #d20807;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}

.nav-link:hover::after {
  width: 100%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.center {
  text-align: center;
}

.round_image {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid black;
}

.square_image {
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid black;
}