body {
  margin: 10px;
}

a {
  cursor: pointer
}

nav {
  margin-bottom: 10px;
}

.form-group {
  margin: 10px;
}

.end {
  align-content: right;
}

.col {
  text-align: center;
  border: solid 2px red;
}