body {
  margin: 10px;
}

a {
  cursor: pointer
}

nav {
  margin-bottom: 10px;
}

.register {
  margin-top: 15px;
}

.parentul {
  text-align: center;
}

.parentul > ul {
  display: inline-block;
}

.form-group {
  margin: 10px;
}

.end {
  align-content: right;
}

.begin {
  align-content: left;
}

.navbar-brand {
  margin-right: 65px;
}

.nav-item {
  margin-right: 10px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.progress {
  height: 30px;
  padding: 0;
}

.listing_image {
  height: 300px;
  width: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* based on https://stackoverflow.com/questions/39495493/line-under-navbar-when-hovering */
.underline {
  color: #d20807;
  float: left;
  position: relative;
  overflow: hidden;
}

.underline::after {
  background-color: #d20807;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}

.underline:hover::after {
  width: 100%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.center {
  text-align: center;
  align-items: center;
}

.round_image {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid black;
}

.square_image {
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid black;
}

.imageitem {
  margin-top: 18px;
  margin-bottom: 20px;
  align-content: center;
  height: 350px;
  width: 350px;
}

/* Credit to https://codepen.io/tuiaverde/pen/KgJbGx */
.progress .progress-bar {
  animation-name: animateBar;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.75s;
}
@keyframes animateBar {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#output {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

#newlistingsubmit {
  margin-left: 10px;
}