{% load static %}
{% load notifications_tags %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}CSWEBFUNDING{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="{% static 'cswebfunding/styles.css' %}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/1f94265055.js" crossorigin="anonymous"></script>
        <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
        <meta charset=“UTF-8”>
        <script src="{% static 'cswebfunding/cswebfunding.js' %}"></script>
        <link rel="shortcut icon" href="{% url 'index' %}">

        <!-- Notifications -->
        {% register_notify_callbacks callbacks='updatenotifications,updatenotificationcount' refresh_period='3' %}
    </head>
    <body>
        <nav class="navbar navbar-light navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <!-- Credit to https://www.flaticon.com/free-icon/heart_838618?term=donat&related_id=838618 -->
                    <img src="/static/cswebfunding/heart.png" alt="logo" width="30" height="24">
                    <span class="midnightblue">Cswebfunding</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    {% if user.is_authenticated %}
                    <!-- User is logged in, we can show everythin -->
                        <li class="nav-item">
                            <a class="nav-link active underline" href="{% url 'profile' id=request.user.id %}">{{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active underline" href="{% url 'logout' %}">Log Out</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Listings
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'listings' filter='newest' %}">All listings</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'listings' filter='goodcauses' %}">Good Causes</a></li>
                                <li><a class="dropdown-item" href="{% url 'listings' filter='projects' %}">Projects</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a <a class="nav-link active underline"href="{% url 'newlisting' %}">New Listing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active underline" onclick="hidemodalmessage()" data-bs-toggle="modal" data-bs-target="#fundsModal">&#43; Add funds</a>
                        </li>
                    </ul>

                    <!-- Notifications -->
                    <span class="navbar-text">
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="notificationdropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span hidden id="notificationcount" class="badge bg-danger"></span>
                                <i class="fas fa-bell"></i>
                            </a>
                            
                            <ul id="notify_list" class="dropdown-menu dropdown-large" aria-labelledby="notificationdropdown">
                                <li id="no_notifications">
                                    <span class="lead">You have no new notifications</span>
                                </li>
                            </ul>
                        </div>
                    </span>

                    <span class="navbar-text" id="balance">
                        Current balance: $<span id="balanceamount">{{ user.balance }}</span>
                    </span>
                    
                    <!-- User is not logged in, only show log in, register and all listings -->
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active underline" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active underline" href="{% url 'register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active underline" href="{% url 'listings' filter='latest' %}">Listings</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        
        <div class="body">
            
            <!-- Modal to add funds -->
            <div class="modal fade" id="fundsModal" tabindex="-1" aria-labelledby="fundsModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h5 class="modal-title" id="fundsModalLabel">Add Funds</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div>
                            <h6>Your current balance is ${{ user.balance }}</h6>
                            <hr>
                        </div>  
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input id="amount" type="number" class="form-control" autocomplete="off" aria-label="Amount" min="1" max="100000">
                        </div>

                        <div id="modalmessagediv" hidden>
                            <hr>
                            <p id="modalmessage"></p>
                        </div>
                        
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-dark my-2" onclick="addfunds()">Add funds</button>
                    </div>

                </div>
                </div>
            </div>
            {% block body %}
            {% endblock %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>