{% extends "cswebfunding/layout.html" %}

{% block body %}



<!-- inspired on https://bootsnipp.com/20snippets/01pbj -->
<h3 class="center">{{ title }}</h3>
{% if listings %}
  <div class="container mb-4">
    <div class="row">
      
      {% for listing in listings.object_list %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card shadow center">
                <div class="card-body text-center">
                  <h4>{{ listing.title }}</h4>
                  <div class="imageitem">
                    <a href="/listing/{{ listing.id }}">
                      <img id="output" class="card-img-top" src="{{ listing.photo.url }}" alt="main image of {{ listing.title }}">
                    </a>
                  </div>
                  <ul class="list-inline mt-3">
                      <li class="list-inline-item"><i class="far fa-clock"></i>{{ listing.created_at }} - {{ listing.final_date }}</li>
                  </ul>
                  <hr>
                  <p>${{listing.donated}} donated - ${{ listing.goal }} requested</p>
        
                  <p class="lead">{{ listing.description }}</p>
                  <a class="btn btn-outline-dark my-2" href="/listing/{{ listing.id }}" role="button">Read more...</a>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% if listings.has_other_pages %}
  <nav class="all_listingss_pages">
      <ul class="pagination justify-content-center">
        {% if listings.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ listings.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="?page={{ listingss.previous_page_number }}">{{ listings.previous_page_number }}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ listings.number }}">{{ listings.number }}</a></li>
        {% if listings.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ listings.next_page_number }}">{{ listings.next_page_number }}</a></li>
        <li class="page-item">
          <a class="page-link" href="?page={{ listings.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
  </nav>

  {% endif %}

{% else %} 
<br><br><br>
<h4 class="center">No listings found...</h4>
{% endif %}
{% endblock %}