{% extends "cswebfunding/layout.html" %}

{% block body %}

{% if listing %}

    <h3 class="center margin-bottom">{{ listing.title }}</h3>
    <div class="container">
        <div class="row">
            <!-- Main image  -->
            <div class="col-sm-4 center">
                <img class="card-img-top listing_image" src="{{ listing.photo.url }}" alt="main image of {{ listing.title }}">
            </div>
            <!-- Listing description -->
            <div class="col-sm-4 center">
                {{ listing.description}}
            </div>
            <!-- About the author section -->
            <div class="col-sm-4 center">
                <p class="lead">ABOUT THE AUTHOR</p>
                <h5>{{ listing.author.username }}</h5>
                <a href="{% url 'profile' id=listing.author.id %}">
                    <img id="image" class="card-img-top round_image" src="{{ listing.author.photo.url }}" alt="author image of {{ listing.author.username }}">
                </a>
                <p>{{ listing.author.about_me }}</p>
            </div>
        </div>
        <!-- Progress bar  -->
        <div class="row">
            <div hidden id="commentsuccess" class="alert alert-success" role="alert">
                Commented Successfully!
            </div>
            <div hidden id="donationsuccess" class="alert alert-success" role="alert"></div>
            <!-- Actual progress bar -->
            <div class="progress">
                <div id="progressbar" class="progress-bar" role="progressbar" aria-valuenow="{{ listing.donated }}" aria-valuemin="0" aria-valuemax="{{ listing.goal }}" style="width: {% widthratio listing.donated listing.goal 100 %}%;">
                    {% if not listing.get_percentage < 20 %}
                    <span class="lead">{% if listing.donated > listing.goal %} &#10004; {% endif %}$<span id="progressamount">{{ listing.donated }}</span> of ${{ listing.goal }} collected</span>
                    {% endif %}
                </div>
                {% if not listing.donated %}
                <span class="lead center">$<span id="progressamount">{{ listing.donated }}</span> of ${{ listing.goal }} collected</span>
                {% endif %}
                {% if listing.get_percentage < 20 and listing.donated != 0 %}
                <span class="lead center">$<span id="progressamount">{{ listing.donated }}</span> of ${{ listing.goal }} collected</span>
                {% endif %}
            </div>
           
        </div>
        <hr>
        <!-- Button that opens up modal to donate -->
        <a class="btn btn-outline-dark my-2" href="#" role="button" data-bs-toggle="modal" data-bs-target="#DonateModal">Donate</a>
        <!-- TODO -->
        <a class="btn btn-outline-dark my-2" href="#" role="button">Follow Listing</a>

        <hr>
        <!-- Create Comment -->
        <div class="row">
            <!-- Error message if comment is empty -->
            <div hidden id="emptycommentalert" class="alert alert-danger" role="alert">
                Comment cannot be empty!
            </div>
            <!-- write and submit comment -->
            <div class="input-group">
                <span class="input-group-text">New Comment</span>
                <textarea id="content" required="required" class="form-control" aria-label="With textarea" name="content"></textarea>
                <span onclick="comment({{ listing.id }})" class="input-group-addon btn btn-outline-dark commentsubmitbutton">Submit</span>
            </div>
        </div>
        <hr>
        <!-- Comment section -->
        <div class="container">
            <p class="lead">COMMENTS</p>
            <div hidden id="commentalert" class="alert alert-info" role="alert">
                Your comment has been removed.
            </div>

        <!-- Credit to https://bbbootstrap.com/snippets/bootstrap-comments-list-font-awesome-icons-and-toggle-button-91650380 -->
            <div class="row d-flex justify-content-center">
                <div class="col">
                    {% csrf_token %}
                    <div id="newcommentdiv"></div>
                    {% for comment in comments %}

                    <div class="card p-3 mt-2" id="comment{{ comment.id }}">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="user d-flex flex-row align-items-center"> <img src="{{ comment.user.photo.url }}" width="50" class="user-img rounded-circle me-3"> <span><small class="lead text-primary">{{ comment.user.username }}</small> <small class="lead">{{ comment.content }}</small></span> </div> <small>{{ comment.date }}</small>
                        </div>
                        {% if user == comment.user %} 
                        <div class="action d-flex justify-content-between mt-2 align-items-center">
                            <div class="reply px-4"><small class="removecomment" onclick="removecomment({{ comment.id }})">Remove</small></div>
                        </div>
                        {% endif %}
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    <!-- Modal to donate -->
    <div class="modal fade" id="DonateModal" tabindex="-1" aria-labelledby="donateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
            <h5 class="modal-title" id="donateModalLabel">Donate to {{ listing.title }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <!-- Modal Body -->
            <div class="modal-body">
                <div>
                    <h6>Your current balance is ${{ user.balance }}</h6>
                    <hr>
                </div>  
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input name="donateamount" id="donateamount" type="number" class="form-control" autocomplete="off" aria-label="Amount" min="1" max="{{ user.balance }}">
                </div>
            </div>
    
            <!-- Modal Footer -->
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <input onclick="donate({{ listing.id }})" type="submit" class="btn btn-outline-dark my-2" value="Donate">

            </div>
    
        </div>
    </div>

{% else %}
    <!-- No listing was found -->
    <h3 class="center">Error! The listing you were trying to get does not exist!</h3>

{% endif %}

{% endblock %}