{% extends "cswebfunding/layout.html" %}

{% block body %}



<!-- inspired on https://bootsnipp.com/20snippets/01pbj -->
<div class="pageload">
<h3 class="center">{{ title }}</h3>

<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Sort by
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="{% url 'listings' filter='latest' %}">Oldest first</a></li>
    <li><a class="dropdown-item" href="{% url 'listings' filter='newest' %}">Newest first</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'listings' filter='highest' %}">Highest goal first</a></li>
    <li><a class="dropdown-item" href="{% url 'listings' filter='lowest' %}">Lowest goal first</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'listings' filter='popularity' %}">Popularity</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">
      <select class="form-select" aria-label="Select Category" onchange="location = this.value;">
        <option value="" selected disabled>Category</option>

        <option value="{% url 'listings' filter='art' %}">Art</option>
        <option value="{% url 'listings' filter='comics-and-illustration' %}">Comics & Illustration</option>
        <option value="{% url 'listings' filter='design-and-tech' %}">Design & Tech</option>
        <option value="{% url 'listings' filter='film' %}">Film</option>
        <option value="{% url 'listings' filter='food-and-craft' %}">Food & Craft</option>
        <option value="{% url 'listings' filter='games' %}">Games</option>
        <option value="{% url 'listings' filter='music' %}">Music</option>
        <option value="{% url 'listings' filter='publishing' %}/">Publishing</option>
        <option value="{% url 'listings' filter='other' %}">Other</option>

      </select>
    </a></li>
  </ul>
</div>

{% if listings %}

  <div class="container mb-4">
    <div class="row">
      
      {% for listing in listings.object_list %}
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 mt-4">
          <a class="notunderline" {% if user.is_authenticated %} href="{% url 'listing' id=listing.id %}" {% else %} data-bs-toggle="modal" data-bs-target="#AuthenticateModal" {% endif %}>
            <div class="card shadow center">
                <div class="card-body text-center">
                  <h4>{{ listing.title }}</h4>
                  <div class="imageitem">
                    <!-- User can only click link if logged in -->
                    
                      <img id="output" class="card-img-top" src="{{ listing.photo.url }}" alt="main image of {{ listing.title }}">
                  </div>
                  <ul class="list-inline mt-3">
                      <li class="list-inline-item"><i class="far fa-clock"></i>{{ listing.created_at }} - {{ listing.final_date }}</li>
                  </ul>
                  <hr>
                  <p>${{listing.donated}} donated - ${{ listing.goal }} requested</p>
        
                  <p class="lead">{{ listing.description }}</p>
                  <button class="btn btn-outline-dark my-2">Read more...</button>
                </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  
  {% if listings.has_other_pages %}

  <nav class="all_listings_pages">
      <ul class="pagination justify-content-center">
        {% if listings.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ listings.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="?page={{ listingss.previous_page_number }}">{{ listings.previous_page_number }}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ listings.number }}">{{ listings.number }}</a></li>
        {% if listings.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ listings.next_page_number }}">{{ listings.next_page_number }}</a></li>
        <li class="page-item">
          <a class="page-link" href="?page={{ listings.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
  </nav>

  {% endif %}

  <!-- Modal to authenticate User -->
  <div class="modal fade" id="AuthenticateModal" tabindex="-1" aria-labelledby="AuthenticateModal" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
        <h5 class="modal-title" id="fundsModalLabel">Log in or Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
          <a type="button" class="btn btn-outline-dark my-2" href="{% url 'login' %}">Login</a>
          <a type="button" class="btn btn-outline-dark my-2" href="{% url 'register' %}">Register</a>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        
        </div>

    </div>
    </div>
</div>

{% else %} 
<br><br><br>
<h4 class="center">No listings found...</h4>
{% endif %}
</div>
{% endblock %}