{% extends "cswebfunding/layout.html" %}

{% block body %}

{% if listing %}

    <h3 class="center margin-bottom">{{ listing.title }}</h3>
    <div class="container">
        <div class="row">
            <!-- Main image  -->
            <div class="col-sm-4 center">
                <img class="card-img-top listing_image" src="{{ listing.photo.url }}" alt="main image of {{ listing.title }}">
            </div>
            <!-- Listing description -->
            <div class="col-sm-4 center">
                {{ listing.description}}
            </div>
            <!-- About the author section -->
            <div class="col-sm-4 center">
                <p class="lead">ABOUT THE AUTHOR</p>
                <h5>{{ listing.author.username }}</h5>
                <a href="{% url 'profile' id=listing.author.id %}">
                    <img id="image" class="card-img-top round_image" src="{{ listing.author.photo.url }}" alt="author image of {{ listing.author.username }}">
                </a>
                <p>{{ listing.author.about_me }}</p>
            </div>
        </div>
        <!-- Progress bar  -->
        <div class="row">
            <!-- Message for user -->
            {% if message %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            <!-- Actual progress bar -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ listing.donated }}" aria-valuemin="0" aria-valuemax="{{ listing.goal }}" style="width: {% widthratio listing.donated listing.goal 100 %}%;">
                    {% if not listing.get_percentage < 20 %}
                    <span class="lead">{% if listing.donated > listing.goal %} &#10004; {% endif %}${{ listing.donated }} of ${{ listing.goal }} collected</span>
                    {% endif %}
                </div>
                {% if not listing.donated %}
                <span class="lead center">${{ listing.donated }} of ${{ listing.goal }} collected</span>
                {% endif %}
                {% if listing.get_percentage < 20 and listing.donated != 0 %}
                <span class="lead center">${{ listing.donated }} of ${{ listing.goal }} collected</span>
                {% endif %}
            </div>
            <!-- Button that opens up modal to donate -->
            <a class="btn btn-outline-dark my-2" href="#" role="button" data-bs-toggle="modal" data-bs-target="#DonateModal">Donate</a>
        </div>
        <hr>
        <!-- Create Comment -->
        <div class="row">
            <!-- Error message if comment is empty -->
            <div hidden id="emptycommentalert" class="alert alert-danger" role="alert">
                Comment cannot be empty!
            </div>
            <!-- Form to write and submit comment -->
            <form id="commentform" action="/comment" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-text">New Comment</span>
                    <textarea required="required" class="form-control" aria-label="With textarea" name="content"></textarea>
                    <input hidden value="{{ listing.id }}" name="id">
                    <span onclick="submitcommentform()" class="input-group-addon btn btn-outline-dark commentsubmitbutton">Submit</span>
                </div>
            </form>
        </div>
        <hr>
        <!-- Comment section -->
        <div>
            <p class="lead">COMMENTS</p>
        </div>
    </div>

    <!-- Modal to donate -->
    <div class="modal fade" id="DonateModal" tabindex="-1" aria-labelledby="donateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <form action="/donate" method="post" onsubmit="return checkexceedsgoal({{ listing.goal }}, {{ listing.donated }})">

            <!-- Modal Header -->
            <div class="modal-header">
            <h5 class="modal-title" id="donateModalLabel">Donate to {{ listing.title }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <!-- Modal Body -->
            <div class="modal-body">
                <div>
                    <h6>Your current balance is ${{ user.balance }}</h6>
                    <hr>
                </div>  
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input name="donateamount" id="donateamount" type="number" class="form-control" autocomplete="off" aria-label="Amount" min="1" max="{{ user.balance }}">
                </div>
                
                <div id="donatemodalmessagediv" hidden>
                    <hr>
                    <p id="donatemodalmessage"></p>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <input onclick="clicked='confirm';" type="submit" class="btn btn-outline-dark my-2" value="Yes">
                </div>
                <input name="listingid" id="listingid" hidden value="{{ listing.id }}">
                {% csrf_token %}
            </div>
    
            <!-- Modal Footer -->
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <input onclick="clicked='not confirmed'"  type="submit" class="btn btn-outline-dark my-2" value="Donate">

            </form>
            </div>
    
        </div>
    </div>

{% else %}
    <!-- No listing was found -->
    <h3 class="center">Error! The listing you were trying to get does not exist!</h3>

{% endif %}

{% endblock %}