{% extends "cswebfunding/layout.html" %}

{% block body %}
<h2>Create listing page</h2>
<form action="{% url 'newlisting' %}" method="post" id="newlistingform">
    {% csrf_token %}
    <!-- Title input -->
    <div class="form-group">
        <input required autofocus autocomplete="off" class="form-control" type="text" name="title" placeholder="Title" maxlength="50">
    </div>
    <!-- Description input -->
    <div class="form-group">
        <input required autocomplete="off" class="form-control" type="text" name="description" placeholder="Description" maxlength="256">
    </div>
    <!-- Category input -->
    <div required class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="good_cause" value="goodcause">
            <label class="form-check-label" for="good_cause">Good Cause</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="project" value="project">
            <label class="form-check-label" for="project">Project</label>
        </div>
    </div>
    <!-- Goal input -->
    <div class="form-group">
        <input required autocomplete="off" class="form-control" type="number" name="goal" placeholder="Goal in $">
    </div>
    <!-- Main image input -->
    <div class="form-group">
        <input class="form-control" type="file" id="formFile" accept="image/*">
      </div>
    <!-- Final date input starting from today and maximum 5 years from now-->
    <div class="form-group">
        <input onclick="setdatelisting(); this.onclick=null;" required class="form-control" type="date" name="final_date" id="datefield">
    </div>
    
    <!-- Submit button -->
    <input autocomplete="off" class="btn btn-outline-dark my-2" type="submit" value="Create new listing">
</form>
{% endblock %}